body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
  height: 46px;
  align-items: center;
  padding: 10 60px;
  gap: 540px;
}

.header h4 {
  font-size: 24px;
  color: #F9FAF8
}

.header h4,
.header ul {
  margin: 0;
}

.header ul {
  list-style: none;         /* removes bullet points */
  padding: 0px;               /* optional: removes left indent */
  display: flex;
  gap: 16px;
}

ul a {
  text-decoration: none;    /* removes underline from links */
  color: white;        /* optional: change link color */
  font-size: 12px;
}

.intro {
  padding: 0 60px;
  background: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
  height: 380px;
  align-items: center;
  gap: 120px;
}

.left {
  max-width: 450px;
}

.left h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0; /* Optional: to remove default spacing */
}

.left p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
}

.left button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  padding: 8px 26px;
  margin-top: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.image-box {
  background-color: #6B7280;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  height: 380px;
}

.info-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  padding: 30px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.box {
  width: 150px;
  height: 150px;
  border: 2px solid #3b82f6; /* Tailwind blue-500 */
  border-radius: 20px;
  margin-bottom: 8px;

}

.box-item p {
  text-align: center;
  margin: 0;
}

.quote-box {
  height: 380px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-family: light italic;
  color: #1F2937;
  width: 750px;
}

.quoter {
  width: 700px;
  text-align: right;
  font-weight: bolder;
  font-size: 20px;
}

.sign-up-wrapper {
  background-color: white;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sign-up {
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  padding: 50px 100px;
  border-radius: 16px; /* You can adjust the value */
}

.sign-up .heading {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.sign-up .text {
  color: white;
}

.button {
  color: white;
  border-color: white;
  padding: 5px 24px;
  border-radius: 8px; /* You can adjust the value */
  border: 2px solid white; /* changes border color to white */
  font-weight: bold;
}

.footer {
  height: 100px;
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}








